body {
			background-color: #d1e4ff;
			font-family: Arial, sans-serif;
			font-size: 16px; 
			margin: 0;
			}
			
			.content {
			
			background-color: #ffffff;
			width: 980px;
			margin-left: auto;
			margin-right: auto;
			padding: 30px;
			box-sizing: border-box;
				
			}
			.content h1 { 
			font-size: 42px;
			text-transform: uppercase;
			margin-top: 42px;
			margin-bottom: 44px;
				
			}
			
			.content h2 {
			font-size: 36px;
			text-transform: uppercase;
			margin-bottom: 36px;
			
			}
			.content h3 {
			font-size: 30px;
			text-transform: uppercase;
			margin-bottom: 31px;
			
			}
			.content h4 {
			font-size: 26px;
			margin-top: 0;
			margin-bottom: 25px
				
				
			}
			.content h5 {
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 19px;
			
					
			}
			.content h6 {
			font-size: 16px;
			margin-top: 0;		
			margin-bottom: 23px;
				
			}
			.content p {
			line-height: 1.4em;
			}
			
			blockquote {
			background-color: #eadcea;	
			margin: 0;
			padding-left: 32px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-left: 5px solid #b496b4;
			}
			
			pre {
			padding-left: 5px;
			padding-top: 13px;
			padding-bottom: 10px;	
			line-height: 1.5em;	
			}
			
			a {
			color: #6aa7ec;	
			}
			
			ul {
			line-height: 1.5em;	
			}
			
			ol {
			line-height: 1.5em;
			}
				
			dl {
			line-height: 1.5em;	
			}
			
			dt {
			font-style: italic;
			}
				
		.content-p span {
		background-color: #f0e6d6;
		padding-bottom: 1px;
		padding-left: 1px;
		padding-left: 5px;
		padding-right: 5px;
		
		}
		.content-kbd span {
		background-color: #eadcea;
		padding-bottom: 1px;
		padding-left: 1px;
		padding-left: 5px;
		padding-right: 5px;
		
		}
		.content-code span {
		background-color: #eadcdc;
		padding-bottom: 1px;
		padding-left: 1px;
		padding-left: 5px;
		padding-right: 5px;
		
		}
		
		.table {
		border-collapse: collapse;
		border: 1px solid #eadcea;
		width: 920px;
		}
		
		.td-one {
		text-align: center;
		background-color: #eadcea;
		padding-top: 7px;
		padding-left: 7px;
		padding-bottom: 7px;
		border-collapse: collapse; 
		border: 2px solid #b496b4;
		}
		
		.td-two {
		padding-top: 7px;
		padding-left: 7px;
		padding-bottom: 7px;
		border-collapse: collapse; 
		border: 2px solid #b496b4;
		}
		